.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 452px;
    height: 48px;
    border-width: 2px;
    border-radius: 8px;
    border-color: #7785db;
    border-width: 4px;
    border-style: solid;
    margin-bottom: 16px;
}

@media screen  and (max-width: 420px) {
    .input-container {
        max-width: 300px;
    }
}

.input-label {
    font-size: 12px;
    margin: 0;
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
}

.input {
    border: 0 transparent;
    margin-left: 6px;
    font-size: 16px;
}

.input:focus {
    outline: none;
}