.button-container {

    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: "Avenir";
    width: 25vh;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    margin-top: 12px;
    border: 1px solid #7785db;
}

.main {background-color: #7785db;
color: white;}

.outline {background-color: #f2f4ff;
color: #7785db;}

.button-icon {
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-right: 6px;
}