.list-render-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 58vw;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}