 @font-face {
  font-family: 'Avenir Next';
  src: url('/public/fonts/AvenirNext-Medium.ttf')
}

@font-face {
  font-family: 'Avenir Bold';
  src: url('/public/fonts/AvenirNext-Bold.otf');
  font-weight: bold ;
}

@font-face {
  font-family: 'Avenir Italic';
  src: url('/public/fonts/AvenirNext-It.otf');
  font-style: italic;
} 

@font-face {
  font-family: 'Avenir Next';
  src: url('/public/fonts/AvenirNext-Medium.ttf');
  font-weight: 500;
}

body {
  margin: 0;
  font-family: 'Avenir Next';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  color: black;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

::-webkit-scrollbar {
  visibility: hidden;
  width: 1px;
}